// ACED
.aced
  text-align: center;

// *** Books ***
.books
  width: 100%;
.books td
  text-align: center;
  width: 50%;

// *** Sidebar ***
$sidebar-link-fa
  font-family: FontAwesome;
  padding-right: 1em;

#sidebar-link-rss:before {
  @extend $sidebar-link-fa
  content: "\f09e";
}

#sidebar-link-twitter:before {
  @extend $sidebar-link-fa
  content: "\f099";
}

#sidebar-link-email:before {
  @extend $sidebar-link-fa
  content: "\f003";
}

#sidebar-link-linkedin:before {
  @extend $sidebar-link-fa
  content: "\f0e1";
}

#sidebar-link-oos:before {
  @extend $sidebar-link-fa
  content: "\f121";
}

#sidebar-link-podcast:before {
  @extend $sidebar-link-fa
  content: "\f2ce";
}
