<div class="widget-wrap">
  <h3 class="widget-title">Books</h3>
  <div class="widget">
    <table class="books">
      <tbody>
        <tr>
          <td><img src="/images/book-apex-plugins.jpeg" alt=""></td>
          <td><img src="/images/book-expert-apex-5.jpeg" alt=""></td>
        </tr>
        <tr>
          <td><a href="http://goo.gl/089zi">APEX Plugins</a></td>
          <td><a href="http://bit.ly/talkapex-book-expert-2nd-ed">Expert APEX 5</a></td>
        </tr>
        <tr>
          <td><img src="/images/book-begin-apex-4.jpeg" alt=""></td>
          <td><img src="/images/book-expert-apex-4.jpeg" alt=""></td>
        </tr>
        <tr>
          <td><a href="http://goo.gl/NxHoF">Beginning APEX 4</a></td>
          <td><a href="http://goo.gl/tXm3P">Expert APEX 4</a></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
