<div class="widget-wrap">
  <h3 class="widget-title">Links</h3>
  <div class="widget">
    <ul>
      <li><a id="sidebar-link-oos" href="OraOpenSource.com" target="_blank">OraOpenSource</a></li>
      <li><a id="sidebar-link-podcast" href="http://apex.press/talkshow" target="_blank">Oracle APEX Podcast</a></li>
      <li><a id="sidebar-link-rss" href="/atom.xml">RSS Feed</a></li>
      <li><a id="sidebar-link-email" href="mailto:martin@talkapex.com">Email me</a></li>
      <li><a id="sidebar-link-twitter" href="https://twitter.com/martindsouza" target="_blank">Twitter</a></li>
      <li><a id="sidebar-link-linkedin" href="http://www.linkedin.com/in/martingiffydsouza" target="_blank">LinkedIn</a></li>
    </ul>
  </div>
</div>
